.main-panel {
  display: grid;
  grid-template-columns: 15% 35% 50%;
}

.filter-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.location-card {
  display: flex;
  margin: 10px;
}

.locations-list {
  height: 93vh;
  overflow-y: scroll;
}

.simple-marker {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -25px;
  top: -50px;
}
